<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xky.imchat.mapper.UserMessageMapper">

    <select id="findAll" resultType="com.xky.imchat.entity.UserMessage" >
        select * from user_message where
        user_Id=#{friendId} and friend_id=#{userId}
        or
        user_id=#{userId} and friend_id=#{friendId}
        order by create_time asc;
    </select>
</mapper>
