<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xky.imchat.mapper.UserMapper">
    <select id="Search" resultType="com.xky.imchat.entity.User">
        select * from user where email=#{content} or number=#{content}
    </select>
</mapper>
